/* Apply to the entire page */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Apply to the save note button */
.save-note {
  display: none;
}

/* Apply to the icons in your navbar */
.icons i {
  margin-left: 15px;
  margin-right: 15px;
  font-size: 1.5rem;
  cursor: pointer;
}

/* Apply to the note textarea and title input */
.note-textarea,
.note-title {
  color: #000000;
  width: 100%;
  outline: none;
  border: none;
}

.note-textarea {
  resize: none;
  height: calc(100% - 63px);
  padding-top: 15px;
}

.note-title {
  height: 50px;
  margin-top: 13px;
  font-size: 3rem;
}

/* Apply to the note title and textarea when in read-only mode */
.note-title:read-only,
.note-textarea:read-only {
  color: #757575;
}

/* Apply to the list container card */
.list-container .card {
  height: calc(100vh - 70px);
  border-bottom: none;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

/* Apply to the list container's padding */
.list-container {
  padding-left: 0;
}

/* Apply to the list group, first list item, and card */
.list-container .list-group,
.list-container .list-group-item:first-child,
.list-container .card {
  border-top: none;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

/* Apply to the list item title */
.list-item-title {
  display: inline-block;
  width: 75%;
}

/* Apply to the icons in the list container */
.list-container i {
  font-size: 1.1rem;
  cursor: pointer;
}

/* Apply to list group items within the list container */
.list-container .list-group-item {
  border-left: none;
  border-right: none;
  padding: 20px;
  cursor: pointer;
}
